html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

h1 {
	padding: 15px;
}

.field {
    padding: 15px;
}

.field label {
	font-weight: bold;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.field input {
	padding: 5px;
	width: 200px;
}

.field button {
	padding: 10px;
	cursor: pointer;
}

.disclaimer {
	padding: 15px;
	color: red;
}

.result {
	margin: 15px;
    width: auto;
    padding: 15px;
    display: inline-block;
}

.result.error {
	border: 1px solid red;
    background: #ffb6b6;
}

.result.success {
	border: 1px solid green;
    background: #bbe2bb;
}